.contenedor {
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 5px;
  font-weight: 600;
}

.input-buscar {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  margin: 12px 0;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla th {
  background: #f7f7f7;
  padding: 12px;
  text-align: left;
}

.tabla td {
  padding: 10px;
  border-bottom: 1px solid #efefef;
}
